.burger-menu {
    display: none;
    position: absolute;
    color: whitesmoke;
    font-size: 20px;
    top: -10px;

    &:hover {
        color: lightgray;
        cursor: pointer;
    }

    @include breakpoint(mobile) {
        display: block;
        right: 20px;
        top: 6px;
    }

    @include breakpoint(tablet) {
        display: block;
        right: 20px;
        top: 6px;
    }
}
