//Breakpoints
$mobile: 320px;
$tablet: 480px;
$desktop: 900px;
$desktopLarge: 1600px;



//Creating the variables:
@mixin breakpoint($point) {
    //for mobile layouts
    @if $point == mobile {
        @media (min-width: $mobile) and (max-width: $tablet) { @content; }
    }

    //for tablets layout
    @if $point == tablet {
        @media (min-width: $tablet) and (max-width: $desktop) { @content; }
    }
    
    //for desktop layouts
    @if $point == desktop {
        @media (min-width: $desktop) { @content; }
    }

    //for extra large desktop 
    @if $point == desktop-large {
        @media (min-width: $desktopLarge) { @content; }
    }
}
