$nav-links-mobile: 17px;
$nav-links-mobile: 20px;

//Colors
$nav-color: #0153a0;
$nav-color-hover: #033461;

//Footer

//_copyright
$foote-background-color: #0153a0;
$footer-text: whitesmoke;
$footer-text-hover: #cecece;
