//Hide prev/next slider arrows/buttons
.slick-arrow {
    display: none !important;
}

.carousel-intro {
    justify-content: center;
    padding: 0px 150px;

    &--hotels {
        width: 380px;
        height: 275px;
        margin: auto;
        border-radius: 5px;
    }
}
