.container-account {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;

    &__row {
        font-size: 20px;

        &--title {
            text-align: center;
            margin-bottom: 12px;
            font-size: 40px;

            @include breakpoint(mobile) {
                font-size: 28px;
            }
        }

        .register-button,
        .login-button {
            cursor: pointer;
            color: $nav-color;
            font-weight: bold;

            &:hover {
                color: black;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        label {
            font-size: 16px;
            text-transform:uppercase;
            margin: 16px 0px 2px 0px;
        }

        input {
            font-size: 14px;
            padding: 10px;
            border: 1px solid rgb(110, 110, 110);
            width: 400px;

            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        button {
            font-size: 20px;
            padding: 5px;
            background-color: black;
            color: $whitegray-color;
            cursor: pointer;
            border: none;
            margin: 25px 0px;

            &:hover {
                background-color: $nav-color;
            }
        }

    }
}


.password-box {
    display: flex;
    align-items: center;
    position: relative;

    &__icon {
        position: absolute;
        right: 12px;
        cursor: pointer;
        color: darkslategrey;
    }
}
