.container-account {
    display: flex;
    justify-content: center;
    margin: auto;
    
    @include breakpoint(mobile) {
        padding-top: 330px;
    }

    &__row {
        font-size: 20px;

        &--title {
            text-align: center;
            margin: 20px 0px;
            font-size: 50px;

            @include breakpoint(mobile) {
                margin: 10px 0px;
                font-size: 28px;
            }
        }

        .register-button,
        .login-button {
            cursor: pointer;
            color: $nav-color;
            font-weight: bold;

            &:hover {
                color: black;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;

        label {
            font-size: 16px;
            text-transform:uppercase;
            margin: 16px 0px 2px 0px;

            @include breakpoint(mobile) {
            margin: 20px 0px 5px 0px;
            }
        }

        input {
            font-size: 14px;
            padding: 10px;
            border: 1px solid rgb(110, 110, 110);
            width: 400px;

            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        button {
            font-size: 20px;
            padding: 5px;
            background-color: black;
            color: $whitegray-color;
            cursor: pointer;
            border: none;
            margin: 25px 0px;

            &:hover {
                background-color: $nav-color;
            }
        }

    }
}

.password-box {
    display: flex;
    align-items: center;
    position: relative;

    &__icon {
        position: absolute;
        right: 12px;
        cursor: pointer;
        color: darkslategrey;
    }
}

.intro-title-and-logo {
    position: absolute;
    color: rgb(27, 27, 27);
    bottom: 75px;
    font-size: 75px;
    text-align: center;
    text-shadow: 3px 6px 9px rgba(0,0,0,0.75);

    @include breakpoint(mobile) {
        top: 10px;
        bottom: auto;
        font-size: 35px;
        text-shadow: 1px 3px 10px rgba(0,0,0,0.75);
    }
}

.body-img {
    width: 100%;
    background-size: cover;
    opacity: 0.55;
    position: fixed;
    z-index: -1;

    @include breakpoint(mobile) {
        opacity: 0.65;
    }
}
