.container-header {

    &__secondary {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            background-color: $nav-color;

            @include breakpoint(desktop) {
                height: 40px;
                background-color: whitesmoke;;
            }

        &--a {
            font-size: 20px;
            color: whitesmoke;
            font-weight: bold;

            @include breakpoint(desktop) {
                color: $nav-color;
                font-size: 26px;

                &:hover {
                    color: $nav-color-hover;
                }
            }

            &__span {
                margin: 0px 4px;
            }
        }
    }
}
