.container-more-details {
    text-align: center;
}

.hotels-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    &__item {
        display: flex;
        flex-direction: column;
        width: 600px;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        margin: 40px;
        border-radius: 15px;
        box-shadow: 0px 0px 18px 10px #bfbfbf;
        cursor: pointer;

        &--title {
            font-size: 24px;
            margin: 12px 0px;
        }

        &--stars {
            font-size: 30px;
        }

        &--location {
            font-size: 20px;
            margin-bottom: 20px;
        }

        img {
            width: 600px;
            height: 350px;
            border-radius: 0px 0px 15px 15px;
        }
    }
}


// <div class="container-more-images">
//     <p class="prev-image"><</p>
//     <img src="/application_base/images/hotels/amsterdam/1.jpg" class="container-more-images__image"></img>
//     <p class="next-image">></p>
// </div>

.container-more-images {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    background-color: black;
    width: 75%;
    border-radius: 15px;
    z-index: 9999;

    .prev-image,
    .next-image {
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
    }
    .prev-image {
        left: 20px;
    }
    .next-image {
        right: 20px;
    }

    img {
        width: 85%;
        height: 600px;
        opacity: 0.75;
    }
    
    .close-images-modal {
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 30px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        z-index: 99999;
    }
}
