.container-more-details {
    text-align: center;
    font-size: 24px;

    @include breakpoint(mobile) {
        font-size: 20px;
        padding: 0px 12px;
    }
}

.hotels-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 20px;

    @include breakpoint(mobile) {
        margin-top: 0px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 25%;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        margin: 40px;
        border-radius: 15px;
        box-shadow: 0px 0px 18px 10px #bfbfbf;
        cursor: pointer;
    
        @include breakpoint(mobile) {
            width: 100%;
            margin: 18px;
            box-shadow: none;
            border-radius: 10px;
        }

        &--title {
            font-size: 24px;
            margin: 12px 0px;

            @include breakpoint(mobile) {
                font-size: 18px;
                margin: 8px 0px 4px 0px;
            }
        }

        &--stars {
            font-size: 30px;
            
            @include breakpoint(mobile) {
                font-size: 22px;
            }
        }

        &--location {
            font-size: 20px;
            margin-bottom: 20px;

            @include breakpoint(mobile) {
                font-size: 18px;
                margin-bottom: 10px;
            }
        }

        img {
            width: 100%;
            height: 300px;
            
            @include breakpoint(mobile) {
                width: 100%;
                height: 220px;
            }
        }

        &--button {
            margin: 20px 0px;
            background-color: #cccccc;
            border: none;
            border-radius: 25px;
            font-size: 20px;
            font-weight: bold;
            padding: 10px 30px;

            &:hover {
                background-color: #a7a7a7;
                cursor: pointer;
            }

            @include breakpoint(mobile) {
                margin: 15px 0px;
                border-radius: 25px;
                font-size: 16px;
                padding: 5px 20px;
            }
        }
    }
}

.container-more-images {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: black;
    width: 100%;
    z-index: 10;
    padding-top: 20px;

    @include breakpoint(mobile) {
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 0;
        padding-top: 100px;
    }

    .prev-image,
    .next-image {
        position: absolute;
        font-size: 50px;
        font-weight: bold;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;
        
        @include breakpoint(mobile) {
            font-size: 40px;
            top: 85%;
            transform: none;
        }
    }
    .prev-image {
        left: 20px;

        @include breakpoint(mobile) {
            left: 30%;
        }
    }
    .next-image {
        right: 20px;

        @include breakpoint(mobile) {
            right: 30%;
        }
    }

    img {
        width: 90%;
        height: 900px;
        opacity: 0.75;
        
        @include breakpoint(mobile) {
            width: 100%;
            height: 550px;
            opacity: 0.9;
        }
    }
    
    .close-images-modal {
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: 40px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        z-index: 99999;
        
        @include breakpoint(mobile) {
            right: 30px;
            top: 25px;
            font-size: 25px;
        }
    }
}

.user-span {
    font-weight: bold;
}
