.container-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $nav-color;
    height: 50px;

    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;    
        min-width: 180px;
        background-color: $nav-color;
        height: 100vh;
        padding-top: 35px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
    }

    @include breakpoint(tablet) {
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
        background-color: $nav-color;
        height: 100vh;
        padding-top: 35px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
    }

    &__link {
        margin: 14px 0px;
        font-size: 16px;
        color: whitesmoke;
        text-align: center;
        border-bottom: 1px ridge lightsteelblue;
        width: 75%;
        padding-bottom: 8px;

        @include breakpoint(desktop) {
            margin: 0px 20px;
            font-size: 18px;
            border: none;
            width: auto;
            padding-bottom: 0px;
        }

        &:hover {
            color: lightgray;
        }
    }
}

.d-none {
    display: none;

    @include breakpoint(desktop) {
        display: flex;
    }
}
