//Global properties
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    overflow:visible;
}

//Abstracts
@import 'abstracts/mixins';
@import 'abstracts/variables';

//Containers
@import 'containers/header';
@import 'containers/navigation';
@import 'containers/main';
@import 'containers/introSection';
@import 'containers/footer';
@import 'containers/account';
@import 'containers/more-details';
@import 'containers/contact';

@import 'icons/burger';
@import 'carousels/carousel-intro';



d-none {
    display: none !important;
}



