* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  overflow: visible;
}

.container-header__secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  background-color: #0153a0;
}
@media (min-width: 900px) {
  .container-header__secondary {
    height: 40px;
    background-color: whitesmoke;
  }
}
.container-header__secondary--a {
  font-size: 20px;
  color: whitesmoke;
  font-weight: bold;
}
@media (min-width: 900px) {
  .container-header__secondary--a {
    color: #0153a0;
    font-size: 26px;
  }
  .container-header__secondary--a:hover {
    color: #033461;
  }
}
.container-header__secondary--a__span {
  margin: 0px 4px;
}

.container-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0153a0;
  height: 50px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .container-nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    min-width: 180px;
    background-color: #0153a0;
    height: 100vh;
    padding-top: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }
}
@media (min-width: 480px) and (max-width: 900px) {
  .container-nav {
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    background-color: #0153a0;
    height: 100vh;
    padding-top: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
  }
}
.container-nav__link {
  margin: 14px 0px;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  border-bottom: 1px ridge lightsteelblue;
  width: 75%;
  padding-bottom: 8px;
}
@media (min-width: 900px) {
  .container-nav__link {
    margin: 0px 20px;
    font-size: 18px;
    border: none;
    width: auto;
    padding-bottom: 0px;
  }
}
.container-nav__link:hover {
  color: lightgray;
}

.d-none {
  display: none;
}
@media (min-width: 900px) {
  .d-none {
    display: flex;
  }
}

.container-main {
  margin-top: 30px;
}
.container-main--is-hidden {
  display: none;
}

.container-footer {
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #0153a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.container-footer__logo {
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}
.container-footer__logo:hover {
  color: #cecece;
}
.container-footer__informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6px 0px 12px;
  color: whitesmoke;
}
.container-footer__informations--contact, .container-footer__informations--contact a {
  margin: 6px;
  color: whitesmoke;
  font-weight: bold;
}
.container-footer__informations--contact:hover, .container-footer__informations--contact a:hover {
  color: #cecece;
}
.container-footer__copyright {
  color: whitesmoke;
}

.container-account {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}
.container-account__row {
  font-size: 20px;
}
.container-account__row--title {
  text-align: center;
  margin-bottom: 12px;
  font-size: 40px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .container-account__row--title {
    font-size: 28px;
  }
}
.container-account__row .register-button,
.container-account__row .login-button {
  cursor: pointer;
  color: #0153a0;
  font-weight: bold;
}
.container-account__row .register-button:hover,
.container-account__row .login-button:hover {
  color: black;
}
.container-account__form {
  display: flex;
  flex-direction: column;
}
.container-account__form label {
  font-size: 16px;
  text-transform: uppercase;
  margin: 16px 0px 2px 0px;
}
.container-account__form input {
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgb(110, 110, 110);
  width: 400px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .container-account__form input {
    width: 100%;
  }
}
.container-account__form button {
  font-size: 20px;
  padding: 5px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  margin: 25px 0px;
}
.container-account__form button:hover {
  background-color: #0153a0;
}

.password-box {
  display: flex;
  align-items: center;
  position: relative;
}
.password-box__icon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: darkslategrey;
}

.burger-menu {
  display: none;
  position: absolute;
  color: whitesmoke;
  font-size: 20px;
  top: -10px;
  z-index: 10;
}
.burger-menu:hover {
  color: lightgray;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 480px) {
  .burger-menu {
    display: block;
    right: 20px;
    top: 6px;
  }
}
@media (min-width: 480px) and (max-width: 900px) {
  .burger-menu {
    display: block;
    right: 20px;
    top: 6px;
  }
}

@media (min-width: 900px) {
  .carousel-intro {
    padding: 0px 30px;
  }
}
@media (min-width: 1600px) {
  .carousel-intro {
    padding: 0px 130px;
  }
}
.carousel-intro--hotels {
  width: 380px;
  height: 275px;
  margin: auto;
  border-radius: 5px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .carousel-intro--hotels {
    width: 320px;
    height: 225px;
  }
}
@media (min-width: 480px) and (max-width: 900px) {
  .carousel-intro--hotels {
    width: 350px;
    height: 245px;
  }
}/*# sourceMappingURL=index.css.map */